<!-- FILEPATH: /Users/Ulia/Desktop/Uni/Y3S1/CS341_DB/db_assignment/flask-app/templates/user_page.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Create A Member Page</h1>
  
  <form  method="POST">
    <label for="user_id">User id:</label>
    <input type="text" id="user_id" name="user_id" required><br><br>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    
    <label for="given_name">Name:</label>
    <input type="text" id="given_name" name="given_name" required><br><br>
    
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required><br><br>
    
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br><br>

    <label for="phone_number">Phone Number:</label>
    <input type="text" id="phone_number" name="phone_number" required><br><br>
    
    <label for="profile_description">Profile Description:</label>
    <input type="text" id="profile_description" name="profile_description" ><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="house_rules">House rules:</label>
    <input type="text" id="house_rules" name="house_rules"><br><br>
    
    
    <input type="submit" value="Submit">
  </form>
{% endblock %}